---
import RightArrowIcon from "./icons/rightArrowIcon.astro";

interface Props {
  text: string;
  class?: string;
  backgroundColor?: string;
  textColor?: string;
  padding?: boolean;
  link?: string;
}

const {
  text,
  class: additionalClasses = "",
  backgroundColor = "--color_headline",
  textColor = "--white",
  padding = true,
  link,
} = Astro.props;
---

<a
  class={`font--1 cursor-pointer gap-[--space-2xs] font-semibold rounded-2xl
    ${padding ? "padded" : ""} ${additionalClasses}`}
  style={`--bg-color: var(${backgroundColor}); --text-color: var(${textColor});`}
  tabindex="0"
  href={link}
>
  {text}

  <RightArrowIcon />
</a>

<style>
  a {
    display: inline-flex;
    cursor: pointer;
    align-items: center;

    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    transition: opacity 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a.padded {
    padding: var(--space-3xs) var(--space-xs);
  }

  a:focus-visible {
    opacity: 0.65;
  }

  a:hover {
    opacity: 0.65;
  }

  a:active {
    opacity: 1;
  }
</style>
